/*--------------------------------   header */
.header-container { 
  position: sticky;
  top:0;
  background-color: white;
  width: 100%;
  height: 80px;
  z-index: 1001;
}

.site-header {
  display:flex;
  justify-content:space-between;
  align-items:center; 
  padding: 20px 0;
  z-index: 1002;
  height: 40px;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

.categories {
  margin-top: -5px;
  margin-left: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  font-family: 'Raleway', sans-serif;
}

.categories a { 
  margin-right:24px;
  text-decoration:none; 
  color:#1D1F22; 
}

.categories a.active { 
  color:#5ECE7B; 
  border-bottom:2px solid #5ECE7B; 
  padding-bottom:30px; 
  font-weight: 600;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.logo {
  margin: 0 auto;
}

.logo img {
  height: 30px;
  width: auto;
}

.cart-btn img{
  height: 20px;
  width: auto;
}

.cart-btn { 
  position:relative;
  background:#fff;
  border:none;
  cursor: pointer;
  margin-right: 40px;
}

.cart-bubble { 
  position:absolute; 
  top:-10px; 
  right:-10px; 
  height: 20px;
  width: 20px;
  background:#1D1F22;
  color:#fff;
  font-weight: 700;
  text-align: center;
  border-radius:50%;
  padding: 4px 1px 0px 1px;
  font-size:14px; 
  font-family: 'Roboto', sans-serif;
}

/*----------------------------------    products page*/

.page-category-title {
  font-size: 42px;
  font-weight: 400;
  text-align: left;
  line-height: 160%;
  margin-left: 10%;
  margin-top: 80px;
  margin-bottom: 150px;
  font-family: 'Raleway', sans-serif;
}

.product-grid .grid { 
  display:grid; 
  grid-template-columns:repeat(3, 350px); 
  justify-content: center;
  gap:50px; 
}

.product-card { 
  background:#fff;  
  cursor:pointer; 
  margin-bottom: 65px; 
  padding: 20px; 
  width: 100%;
  box-sizing: border-box;
}

.product-card .image-wrap { 
  position:relative; 
  width:100%; 
  height:auto; 
  aspect-ratio: 1.1 / 1;
  display:flex; 
  align-items:center; 
  justify-content:center; 
  z-index: 2;
}

.product-card .image-wrap img { 
  max-width:100%; 
  max-height:100%; 
  object-fit:cover;
}

.oos-overlay { 
  position:absolute; 
  inset:0; 
  display:flex; 
  align-items:center; 
  justify-content:center; 
  font-size:18px; 
  color:#666; 
  background: rgba(255,255,255,0.6); 
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.quick-shop { 
  position:absolute; 
  right:25px; 
  bottom: -25px; 
  display:none; 
  border-radius:50px; 
  width:52x;
  height:52px;
  outline: none;
  background: transparent;
  border:none;
  cursor: pointer;
  z-index: 5;
  padding: 0;
}

.quick-shop:hover { box-shadow: 0 4px 20px rgba(29, 31, 34, 0.3); }

.product-card:hover .quick-shop { display:block;}

.product-card:hover { box-shadow: 0 4px 20px rgba(29, 31, 34, 0.3); }

.card-title { margin-top: 30px; z-index: 1;} 

.title { 
  font-size: 18px; 
  text-align: left; 
  font-weight: 300; 
  line-height: 160%;
  font-family: 'Raleway', sans-serif;
}

.price { 
  font-size: 18px; 
  text-align: left; 
  font-weight: 400;
  line-height: 160%;
  width: 58px;
  height: 29px;
  font-family: 'Raleway', sans-serif;
}

/*------------------------------------------- cart overlay  */

.overlay { 
  position:fixed; 
  inset:0; 
  background:rgba(0,0,0,0.4); 
  z-index: 1000; 
}

.cart-panel { 
  position:fixed; 
  right:calc(50% - 650px); 
  top:80px; 
  width:290px; 
  max-height: 600px;
  background:#fff; 
  z-index:1000; 
  padding:18px 18px 30px 18px; 
  overflow: scroll;
}

.cart-title {
  margin-top: 15px;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  font-family: 'Raleway', sans-serif;
}

.item-count {
  font-weight: 700;
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-item { 
  display:grid; 
  grid-template-columns: 1fr auto auto;
  align-items: top;
  gap:10px; 
  margin-bottom:12px; 
  margin-top: 15px;
}

.cart-item-title {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  line-height: 160%;
  font-family: 'Raleway', sans-serif;
}

.cart-item-price {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 160%;
  font-family: 'Raleway', sans-serif;
}

.cart-attribute {
  text-align: left;
}

.cart-item-img { 
  width:121px; 
  height:167px; 
  object-fit: contain; 
  margin-left: auto;
}

.cart-attr-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 7px 0px;
  font-family: 'Raleway', sans-serif;
}

.option-cart {
  
  height: 24px;
  border: 1px solid #1d1f22;
  background: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  padding: 5px 10px 0px 10px;
  text-align: center;
  font-family: 'Source Sans 3', sans-serif;
}

.option-cart.selected {
  background: #1d1f22;
  color: white;
}

.option-cart.swatch {
  width: 20px;
  height: 20px;
  padding: 0;
  border: 1px solid #ccc;
}

.option-cart.swatch .color-box {
  display: block;
  width: 100%;
  height: 100%;
}

.option-cart.swatch.selected {
  outline: 1px solid #5ece7b;
  outline-offset: 1px;
}

.qty-controls { 
  display:flex; 
  flex-direction: column;
  align-items:center;
  justify-content:space-between;
  gap:8px; 
}

.cart-item-amount {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  font-family: 'Raleway', sans-serif;
}

.qty-button {
  width: 24px;
  height: 24px;
  background-color: white;
  border: 1px solid black;
  font-size: 16px;
}

.total-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.total-title {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
}

.cart-total {
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  text-align: right;
  font-family: 'Raleway', sans-serif;
}

button.enabled {
  background-color: #5ECE7B;
  font-size: 14px;
  font-weight: 600;
  line-height: 120%;
  color: white;
  border: none;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

button.disabled {
  background-color: grey;
  font-size: 14px;
  font-weight: 600;
  line-height: 120%;
  color: white;
  border: none;
  padding: 15px;
  width: 100%;
  opacity:0.5; 
  font-family: 'Raleway', sans-serif;
}

/*------------------------------------------------ PDP gallery */

.gallery {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 478px;
  overflow-y: auto;
  padding-right: 15px;
  box-sizing: content-box;
}

.thumbnails .thumb {
  width: 79px;
  height: 80px;
  object-fit: cover;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease;
  aspect-ratio: 1 / 1;
}

.thumbnails .thumb:hover {
  border-color: #5ece7b;
}

.thumbnails .thumb.active {
  border-color: #1d1f22;
}

.main-image {
  position: relative;
  width: 575px;    
  height: 478px;  
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  overflow: hidden;
  border: 1px solid #eee;
}

.main-image img {
  max-width: 100%; 
  max-height: 100%;  
  width: auto;       
  height: auto;     
  object-fit: contain; 
  object-position: center;
  display: block;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: black;
  opacity: 73%;
  border: none;
  font-size: 24px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  text-align: center;
  color: white;
}

.nav.prev {
  left: 10px;
}

.nav.next {
  right: 10px;
}
/*----------------------------------- PDP */

.pdp {
  display: flex;
  gap: 110px;
  padding: 40px 100px;
  margin-top: 25px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 400px;
}

.details h1 {
  font-size: 30px;
  line-height: 27px;
  text-align: left; 
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
}

.attr-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
  text-transform: uppercase;
  line-height: 18px;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
}

.options {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.option {
  height: 45px;
  border: 1px solid #1d1f22;
  background: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 5%;
  padding: 10px;
  text-align: center;
  font-family: 'Source Sans 3', sans-serif;
}

.option.selected {
  background: #1d1f22;
  color: white;
}

.option.swatch {
  width: 36px;
  height: 36px;
  padding: 0;
  border: 1px solid #ccc;
}

.option.swatch .color-box {
  display: block;
  width: 100%;
  height: 100%;
}

.option.swatch.selected {
  outline: 1px solid #5ece7b;
  outline-offset: 1px;
}

.price-pdp {
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  font-weight: bold;
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
}

.add-to-cart {
  background-color: #5ece7b;
  color: white;
  border: none;
  font-weight: bold;
  padding: 16px 32px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  font-family: 'Raleway', sans-serif;
}

.add-to-cart:disabled {
  background-color: #bdbdbd;
  cursor:default;
}

.description {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: #1D1F22;
  font-family: 'Roboto', sans-serif;
}

/*----------------------------------------------*/
@media (max-width: 1320px) {
  .cart-panel { 
    width: 100wv;
    position: absolute;
    right: 10px;
  }
}

@media (max-width: 1220px) {
  .product-grid .grid { 
    grid-template-columns:repeat(2,350px);
  } 
}

@media (max-width: 1120px) {
  .pdp {
    flex-direction: column;
    gap: 0;
    padding: 10px 50px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
  }

  .details h1 {
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .site-header {
    position: relative;
    height: 56px;
    display: block;
  }

  .categories {
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 80px;
    left: 0;
    width: 100%;
    background: white;
    padding: 10px 0;
    margin-left: 0;
  }

  .categories a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin-right: 0;
  }

  .categories a.active { 
    color:#5ECE7B; 
    border-bottom:2px solid #5ECE7B; 
    border-bottom-width: auto;
    padding-bottom:5px; 
  }

  .categories.open {
    display: flex;
    max-height: 120px;
    box-shadow: 0 4px 10px -5px rgba(0,0,0,0.3);
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1003;
    pointer-events: none;
  }

  .cart-btn { 
    position: absolute;
    margin: 0;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1004;
  }

  .menu-toggle {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1004;
    display: block;
    background: none;
    border: none;
    font-size: 24px;
  }

  .product-grid .grid { 
    grid-template-columns:repeat(1,350px);
    justify-content: center;
  }

  .thumbnails .thumb {
    width: 50px;
    height: 50px;
  }
}


